body {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(14, 219, 45);
    height: 80px;
}

section {
    border-color:rgb(255, 255, 255);
    border-radius: 15px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: oblique;
}

video {
    border-radius: 15px;
}

a:link {
    color: white;
}

a:active {
    color: blue;
}

a:visited {
    color: blueviolet;
}

audio {
    margin: 15px 0px 0px 150px;
}

h3 {
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    font-style: oblique;
}
h2 {
    text-align: justify;
}

p {
    color: white;
}